/* General setup */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/* Layout */

main {
    overflow:auto;
    min-width:45rem;
}

section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}

figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figure img {
    width:100%;
    max-width:25rem;
}

figcaption {
    margin:.375rem 0;
}

.long-list {
    margin-top:0;
}

nav {
    float: left;
    width:11.25rem;
}

footer {
    clear: both;
    margin-top:1.5rem;
}

section, aside, nav, footer {
  padding: .5rem;
}

/* header and footer */

header, footer {
  border-top: .125rem solid #33658A;
  border-bottom: .125rem solid #33658A;
}

/* ------ START WRITING YOUR CODE BELOW THIS LINE ------ */

/* NO changes should be made to any of the code above. */

/* NOTE: While you will be using some of the same CSS properties, the VALUES 
   may need to be different in order to style the page correctly. */


/* Imported Typefaces */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Alfa Slab One';
    src: url('../fonts/alfa-slab-one-regular.ttf');
    font-style: normal;
    font-weight: normal;
}

/* Typography Styles */
html {
    font-family: 'Lato', Arial, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 3.75rem; /* 60px / 16px */
    margin: 1.125rem 0; /* 18px / 16px */
    letter-spacing: 0.125rem; /* 2px / 16px */
    color: darkred;
    text-shadow: 0.09375rem 0.09375rem 0.09375rem #000;
    font-family: 'Alfa Slab One', Garamond, serif;
    text-align: center;
}

h2 {
    font-size: 1.5rem; /* 24px / 16px */
    letter-spacing: 0.125rem; /* 2px / 16px */
    font-family: 'Alfa Slab One', Garamond, serif;
}

p, li {
    font-size: 0.75rem; /* 12px / 16px */
    letter-spacing: 0.03125rem; /* 0.5px / 16px */
    word-spacing: 0.125rem; /* 2px / 16px */
}

h2 + p {
    text-indent: 1.5rem; /* 24px / 16px */
}

figcaption {
    font-size: 0.75rem; /* 12px / 16px */
    margin-bottom: 2rem; /* 32px / 16px */
}

/* Link Styling */
a {
    outline: none;
    color: #33658A;
}

a:link, a:visited {
    color: #33658A;
}

a:focus, a:hover {
    text-decoration: none;
}

/* List Styling */
ul, ol {
    margin: 1rem 0; /* 16px / 16px */
    padding-left: 1.5rem;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-alpha;
}

.long-list li:hover {
    text-transform: uppercase;
}

/* Navigation Menu */
nav {
    padding-left: 0;
    margin-top: 0.25rem; /* 4px / 16px */
}

nav a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 1.125rem; /* 18px / 16px */
    margin-bottom: 1.5rem; /* 24px / 16px */
    border: 1px solid #33658A;
    color: #33658A;
}

nav a:focus, nav a:hover {
    color: #FFF;
    background-color: #33658A;
}

nav a:active {
    color: #FFF;
    background-color: #000;
}

/* Footer Styles */
footer {
    text-align: center;
}
